.App {
  text-align: center;
}

.menu-container {
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 30px;

  padding: 30px 40px;

  justify-items: center;
}

/* Tablet */
@media (max-width: 1000px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 650px) {
  .menu-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}